################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wiki/bin
/Wiki/obj/Release/netcoreapp2.1
/Wiki/Properties/PublishProfiles
