@model Wiki.СловарнаяСтатья

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_AdminMaster.cshtml";
}

<h2>Edit</h2>

<h4>СловарнаяСтатья</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdСтатьи" />
            <div class="form-group">
                <label asp-for="Название" class="control-label"></label>
                <input asp-for="Название" class="form-control" />
                <span asp-validation-for="Название" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ТекстСтатьи" class="control-label"></label>
                <input asp-for="ТекстСтатьи" class="form-control" />
                <span asp-validation-for="ТекстСтатьи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ПутьДоИзображения" class="control-label"></label>
                <input asp-for="ПутьДоИзображения" class="form-control" />
                <span asp-validation-for="ПутьДоИзображения" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ПутьДоАудио" class="control-label"></label>
                <input asp-for="ПутьДоАудио" class="form-control" />
                <span asp-validation-for="ПутьДоАудио" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdСлова" class="control-label"></label>
                <select asp-for="IdСлова" class="form-control" asp-items="ViewBag.IdСлова"></select>
                <span asp-validation-for="IdСлова" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="КодЧастиРечи" class="control-label"></label>
                <select asp-for="КодЧастиРечи" class="form-control" asp-items="ViewBag.КодЧастиРечи"></select>
                <span asp-validation-for="КодЧастиРечи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="СтатьяГотова" /> @Html.DisplayNameFor(model => model.СтатьяГотова)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

