@model Wiki.Комментарий

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_AdminMaster.cshtml";

}

<h2>Edit</h2>

<h4>Комментарий</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdКомментария" />
            <div class="form-group">
                <label asp-for="ТекстКомментария" class="control-label"></label>
                <input asp-for="ТекстКомментария" class="form-control" />
                <span asp-validation-for="ТекстКомментария" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdПравки" class="control-label"></label>
                <select asp-for="IdПравки" class="form-control" asp-items="ViewBag.IdПравки"></select>
                <span asp-validation-for="IdПравки" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdПользователя" class="control-label"></label>
                <select asp-for="IdПользователя" class="form-control" asp-items="ViewBag.IdПользователя"></select>
                <span asp-validation-for="IdПользователя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ВремяНаписания" class="control-label"></label>
                <input asp-for="ВремяНаписания" class="form-control" />
                <span asp-validation-for="ВремяНаписания" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

