@model Wiki.ViewModels.RegisterViewModel

<div class="row" style="min-height: 5vh"></div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <h2>Регистрация</h2>
            </div>
            <div class="col-md-3"></div>
        </div>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div class="form-group">
                    <label asp-for="EMail">Введите Email</label>
                    <input type="email" asp-for="EMail" class="form-control" />
                    <span asp-validation-for="EMail" />
                </div>
                <div class="form-group">
                    <label asp-for="Пароль">Введите пароль</label>
                    <input type="password" asp-for="Пароль" class="form-control" />
                    <span asp-validation-for="Пароль" />
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm">Повторите пароль</label><br />
                    <input type="password" asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" />
                </div>
                <div class="form-group">
                    <label asp-for="Фамилия">Введите фамилию</label>
                    <input type="text" asp-for="Фамилия" class="form-control" />
                    <span asp-validation-for="Фамилия" />
                </div>
                <div class="form-group">
                    <label asp-for="Имя">Введите имя</label>
                    <input type="text" asp-for="Имя" class="form-control" />
                    <span asp-validation-for="Имя" />
                </div>
                <div class="form-group">
                    <label asp-for="Отчество">Введите отчество</label>
                    <input type="text" asp-for="Отчество" class="form-control" />
                    <span asp-validation-for="Отчество" />
                </div>
                <div class="form-group">
                    <label asp-for="Пол">Пол</label>
                    <p><input asp-for="Пол" type="radio" value="True" id="radio"> Мужчина</p>
                    <p><input asp-for="Пол" type="radio" value="false"> Женщина</p>
                    <span asp-validation-for="Пол" />
                </div>
                <div class="form-group">
                    <label asp-for="ДатаРождения">Введите дату рождения</label>
                    <input type="date" asp-for="ДатаРождения" class="form-control" />
                    <span asp-validation-for="ДатаРождения" />
                </div>
                <progress value="0" max="100"></progress>
                <div class="form-group">
                    <div style="text-align: center;"><input type="submit" value="Регистрация" class="btn btn-outline-primary" /></div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <script>
        $(function () {
            var full_count = $('form input:not([type="submit"]):not([type="hidden"]):not([type="radio"])').length;
            full_count += 1;
            $('form input:not([type="submit"]):not([type="hidden"])').blur(function () {
                var empty_fields_count = $('form input:not([type="submit"]):not([type="radio"]:not([type="hidden"])').filter(function () {
                    return !$(this).val();
                }).length;
                if ($('form input[type="radio"]').filter(function () { return $(this).is(":checked"); }).length < 1) {
                    empty_fields_count += 1;
                };
                var percentage = 100-Math.floor(empty_fields_count / full_count * 100);
                $("progress").attr("value", percentage);
            })
       })
    </script>
}